.section {
    margin-top: 10px;
    align-items: center;
    text-align: center;

    .button:hover {
        opacity: 0.8;
    }

    .button.active {
        background: #126116!important;
        color: #fff!important;
    }
}

.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
}